.services_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin: 0rem 2rem 2rem 2rem;
}

.service {
    background: transparent;
    border-radius: 0 0 2rem 2rem;
    border: 3.5px solid green;
    height: fit-content;
    transition: var(--transition);
}

.service:hover {
    background: transparent;
    border-color: white;
    cursor: default;
}

.service_head {
    background: white;
    padding: 1.6rem;
    border-radius: 0 0 2rem 2rem;
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
}

.service_head h3 {
    /* color: var(--color-bg); */
    font-size: 1.2rem;
    text-align: center;
    color:green;
    font-size: 30px;
}

.service_list {
    padding: 2rem;
    font-size: 33px;
}

.service_list li {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.8rem;
    color: green;
}

.service_list-icon {
    color: green;
    margin-top: 2px;
}

.service_list p {
    font-size: 30px;
}

/*====================== media queries (md devices ==========*/
@media screen and (max-width: 1024px) {
    .services_container {
        grid-template-columns: 1fr 1fr;
    }

    .service {
        height: auto;
    }
}
  
  /*====================== media queries (sm devices ==========*/
  @media screen and (max-width: 600px) {
        .services_container {
            grid-template-columns: 1fr;
            gap: 1.5rem;
            width: 120%;
            align-items: center;
            justify-content: center;
        }
}