.about__container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 11%
}

.about__me {
    width: 89%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient( 45deg, transparent, white, transparent );
    display: grid;
    place-items: center;
    height: 375px;
    margin-left: 50px;
    margin-top: 40px;
}

.about__me-image {
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
}

.about__me-image:hover {
transform: rotate(0);
}

.about__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin: 1rem 2rem 2rem 0rem;
    font-size: 28px;
    font-weight: bold;
}

.about__card {
    border: 3.5px solid green;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
    color: green;
}

.about__card:hover {
    background: white;
    border-color: white;
    cursor: default;
}

.about__icon {
    color: var(--color-primary);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.about__card h5 {
    font-size: 0.95rem;
}

.about__card small {
    font-size: 18px;
    color: var(--color-lite);
}

.about__content p {
    margin: 2rem 2rem 2rem 0rem;
    color: rgb(124, 98, 98);
    font-size: 25px;
}

.about__content {
    margin-bottom: 3rem;
}

#about 
h3,
h1 {
    color: rgb(124, 98, 98);
    text-align: center;
}

.about__card h4 {
    color: green;
}

#bigBtn1 {
    font-size: 22px;
    position: relative;
    left: 270px;
}

/*====================== media queries (md devices ==========*/
@media screen and (max-width: 1024px) {
   .about__container {
    grid-template-columns: 1fr;
    gap: 0;
    margin: 15px 0rem 0rem 2.8rem;
    width: 102%;
   }

   .about__me {
    width: 61%;
    height: 62%;
    margin: 5.3rem 0 -4rem 9rem;
   }

   .about__content p {
    font-size: 33px;
   }

   .subtitle {
    text-align: center;
    margin-top: 5rem;
    width: 108%;
   }

   .subtitle h3{
    font-size: 30px;
   }

   .subtitle h1{
    font-size: 50px;
   }

   .about__card h4 {
    font-size: 29px;
   }

   .about__card small {
    font-size: 20px;
   }

   #bigBtn1 {
    position: relative;
    left: 300px;
   }

}

/*====================== media queries (sm devices ==========*/
@media screen and (max-width: 600px) {
    .about__me {
        width: 84%;
        margin: 1.3rem 0rem 0rem 2rem;
        height: 73%;
    }

    .about__container {
        width: 136%;
        align-items: center;
        justify-content: center;
    }

    .about__cards {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        font-size: 19px;
        font-weight: bold;
    }

    .about__content {
        text-align: center;
    }

    .about__content p {
        font-size: 26px;
    }

    .subtitle {
        width: 151%;
        justify-content: center;
        align-items: center;
        text-align: center;
       }

       .subtitle h3{
        font-size: 24px;
       }

       .subtitle h1{
        font-size: 42px;
       }

       #bigBtn1 {
        position: relative;
        left: -23px;
       }

       .about__card h4 {
        font-size: 24px;
       }
    
       .about__card small {
        font-size: 17px;
       }
}