.container.contact_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}

.contact_options {
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    font-size: 30px;
}

.contact_option {
    background: white;
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 3.5px solid white;
    transition: var(--transition);
}

.contact_option:hover {
    border: 3.5px solid green;
}

.contact_option-icon {
    margin-bottom: 0.5rem;
    color: green;
}

#greenIcon {
    stroke: green;
}

.contact_option-icon 
h4,
h5 {
    color: green;
}

.contact_option a {
    margin-top: 0.7rem;
    display: inline-block;
    color: green;
}

.contact_option h4 {
    color: green;
}
 
/* =================== Form ===================== */
form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}

input, 
textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: white;
    border: 3.5px solid green;
    resize: none;
    color: green;

}

form button {
    background: white;
}

#bigSend {
    font-size: 20px;
}

/*====================== media queries (md devices ==========*/
@media screen and (max-width: 1024px) {
    .container.contact_container {
        width: 100%;
    }

    form {
        margin: 0px;
        padding: 30px;
        width: 100%;
    }

    .contact_options {
        font-size: 17px;
    }
 }
 
 /*====================== media queries (sm devices ==========*/
 @media screen and (max-width: 600px) {
    .container.contact_container {
        width: 152%;
        justify-content: center;
        align-items: center;
    }

    form {
        width: 131%;
        justify-content: center;
        align-items: center;
    }

    form div button {
        margin-bottom: 25px;
    }

}