footer {
    background: #006a00;
    padding: 3rem 0;
    text-align: center;
    font-size: 1.4rem;
    margin-top: 7rem;
    border-top: 3.5px solid white;
}

footer a {
    color: white;
}

footer a:hover {
    color: rgb(247, 227, 190);
}

.footer_logo {
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    display: inline-block;
}

.permalinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    margin: 0 auto 3rem;
}

.footer_copyright h5 {
    color: white;
    padding: 0px 12px;
}

@media screen and (max-width: 600px) {
    .permalinks{
        flex-direction: column;
        gap: 1.5rem;
    }

    footer {
        margin: 0rem 0rem 0% 0rem;
        width: 140%;
    }
}

@media screen and (max-width: 1024px) {
    .fullFooter {
        width: 100%;
    }

    footer a {
        position: relative;
        left: 10px;
    }
}
