.experience__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 0rem 2rem 2rem 3rem;;
}

.experience__container > div {
    background: green;
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.experience__container > div:hover {
    border: 3.5px solid white;
    cursor: default;
    color: green;
}

.experience__container > div h3, h4 {
    text-align: center;
    margin-bottom: 2rem;   
    color: white;
    font-size: 28.5px;
    font-weight: bold;
}

.experience__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.experience__details {
    display: flex;
}

.experience__details-icon {
    margin-top: 6px;
    color:white;
    font-size: 35px;
}

.text-light {
    color:white
}

div small {
    font-size: 19.5px;
}

.subtitle h2 {
    margin-bottom: 2.5rem;
    text-align: center;
}

.techTitle {
    border-bottom: 3px solid white;
}

/*====================== media queries (md devices ==========*/
@media screen and (max-width: 1024px) {
   .experience__container {
    grid-template-columns: 1fr;
    width:100%;
    margin: 0;
   }

   .experience__container > div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
   }

   .experience__content {

   }

   .title {
    text-align: center;
    margin-top: 1rem;
   }

   .subtitle h2 {
    font-size: 37px;
}

    .experience__details h4 {
        font-size: 25px;
    }

    .experience__details small {
        font-size: 23px;
    }

 }
 
 /*====================== media queries (sm devices ==========*/
 @media screen and (max-width: 600px) {
    .experience__container {
        gap: 1.5rem;
        width: 127%;
        align-items: center;
        justify-content: center;
    }

    .experience__container > div {
        width: 100%;
        padding: 1rem 0.4rem;
    }

    
}